<template>
    <div id="app">
        <amplify-authenticator>

            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6 border-right">
                        <h3>Upload info</h3>
                        <b-alert
                                :show="dismissCountDown"
                                variant="success"
                                @dismissed="dismissCountDown=0"
                                @dismiss-count-down="countDownChanged"
                        >
                            Uploaded successfully
                        </b-alert>


                        <div class="form-group mb-3">
                            <label for="file">Image</label>
                            <input type="file" class="form-control" id="file" @change="fileChange" ref="file"
                                   accept="image/*">
                            <img v-if="fileBase64" :src="fileBase64" class="img-thumbnail img-preview mt-2">
                        </div>
                        <div class="form-group mb-3">
                            <label for="full_name">Full name</label>
                            <input type="text" class="form-control" id="full_name" placeholder="Full name"
                                   v-model="fullName" autocomplete="off">
                        </div>

                        <b-progress v-if="progress.total" :value="progress.loaded" :max="progress.total" show-progress
                                    animated class="mb-3" variant="success"></b-progress>

                        <button type="submit" class="btn btn-success" :disabled="uploadDisable" @click="upload">
                            {{txtBtn}}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <h3>Face recognize</h3>
                        <div class="form-group mb-3">
                            <label for="faceSearch">Face search</label>
                            <input type="file" class="form-control" id="faceSearch" @change="faceSearchChange"
                                   ref="faceSearch"
                                   accept="image/*">
                            <div class="img-content img-preview-face-search mt-2">
                                <img v-if="faceSearchBase64" :src="faceSearchBase64" class="img-thumbnail"
                                     ref="imageElement">
                            </div>
                        </div>

                        <div v-if="resultFullName" class="mb-2">
                            Full name: {{resultFullName}}
                        </div>

                        <button type="submit" class="btn btn-success" :disabled="recognizeDisable" @click="search">
                            {{txtBtnSearch}}
                        </button>

                    </div>
                </div>
            </div>

            <div class="footer">
                <amplify-sign-out class="abc"></amplify-sign-out>
            </div>
        </amplify-authenticator>
    </div>
</template>

<script>
    // import HelloWorld from './components/HelloWorld.vue'

    import {Storage} from 'aws-amplify';

    export default {
        name: 'App',
        data() {
            return {
                progress: {
                    loaded: 0,
                    total: 0,
                },
                file: null,
                fileBase64: null,
                fullName: null,
                dismissCountDown: 0,
                txtBtn: null,
                btnUpload: 'Upload',
                btnUploading: 'Uploading...',

                txtBtnSearch: null,
                btnSearch: 'Search',
                btnSearching: 'Searching...',
                uploadDisable: false,
                faceSearchBase64: null,

                dataSendToRecognize: null,
                result: null,
                recognizeDisable: false,
                resultFullName: null,
            }
        },
        components: {
            // HelloWorld
        },
        mounted() {
            this.txtBtn = this.btnUpload
            this.txtBtnSearch = this.btnSearch
        },
        methods: {
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            fileChange() {
                this.fileBase64 = null;
                this.file = this.$refs.file.files[0];
                if (typeof this.file != "undefined") {
                    const reader = new FileReader();
                    reader.onloadend = () => {
                        this.fileBase64 = reader.result;
                    };
                    reader.onerror = function (error) {
                        alert(error);
                    };
                    reader.readAsDataURL(this.file);
                }
            },
            async upload() {
                this.uploadDisable = true;
                this.txtBtn = this.btnUploading;
                this.dismissCountDown = 0;
                let that = this;
                try {

                    await Storage.put(this.file.name, this.file, {
                        metadata: {fullName: that.fullName},
                        completeCallback: (event) => {
                            console.log(`Successfully uploaded ${event.key}`);
                        },
                        progressCallback(progress) {
                            that.progress.loaded = progress.loaded;
                            that.progress.total = progress.total;
                            console.log(`Uploaded: ${progress.loaded}/${progress.total}`);
                        },
                        errorCallback: (err) => {
                            console.error('Unexpected error while uploading', err);
                        }
                    });
                } catch (error) {
                    console.log("Error uploading file: ", error);
                }

                this.$set(this.progress, 'loaded', 0);
                this.$set(this.progress, 'total', 0);
                this.dismissCountDown = 3;
                this.file = null;
                this.fileBase64 = null;
                this.fullName = null;
                this.$refs.file.value = null;
                this.txtBtn = this.btnUpload;
                this.uploadDisable = false;
            },

            faceSearchChange(e) {

                this.faceSearchBase64 = null;
                this.resultFullName = null;

                if (typeof this.$refs.imageElement != 'undefined') {
                    this.$refs.imageElement.parentNode.querySelectorAll('svg').forEach((e) => e.remove())
                }



                const file = e.target.files[0];
                if (file) {
                    this.faceSearchBase64 = URL.createObjectURL(file);

                    const reader = new FileReader()
                    reader.onloadend = (e) => {
                        let image = atob(e.target.result.split("data:image/jpeg;base64,")[1]);

                        let length = image.length;
                        let imageBytes = new ArrayBuffer(length);
                        let ua = new Uint8Array(imageBytes);
                        for (var i = 0; i < length; i++) {
                            ua[i] = image.charCodeAt(i);
                        }
                        this.dataSendToRecognize = imageBytes;
                    };
                    reader.readAsDataURL(file);
                }
            },

            search() {
                this.txtBtnSearch = this.btnSearching;
                this.recognizeDisable = true;
                this.resultFullName = null;

                window.rekognition.searchFacesByImage({
                    CollectionId: 'face_collection',
                    Image: {
                        // 'Bytes': this.base64.replace("data:image/jpeg;base64,", "")
                        Bytes: this.dataSendToRecognize
                    }
                }, (err, res) => {
                    if (err != null) {
                        alert('No face match');
                        this.recognizeDisable = false;
                        this.txtBtnSearch = this.btnSearch;
                        this.faceSearchBase64 = null;
                        this.resultFullName = null;
                        this.$refs.faceSearch.value = null;
                    } else {

                        this.txtBtnSearch = this.btnSearch;

                        let boundingBox = res.FaceMatches[0].Face.BoundingBox;
                        this.result = res.FaceMatches[0].Face;
                        this.recognizeDisable = false;

                        this.$nextTick(() => {
                            setTimeout(() => {
                                window.dynamodb.getItem({
                                    TableName: "face_collection",
                                    Key: {
                                        RekognitionId: {
                                            S: this.result.FaceId
                                        }
                                    }
                                }, (err, data) => {
                                    this.resultFullName = data.Item.FullName.S;

                                    let imgWidth = this.$refs.imageElement.clientWidth;
                                    let imgHeight = this.$refs.imageElement.clientHeight;

                                    var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                                    svg.setAttribute("width", imgWidth);
                                    svg.setAttribute("height", imgHeight);

                                    var newLine = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
                                    newLine.setAttribute('width', boundingBox.Width * imgWidth);
                                    newLine.setAttribute('height', boundingBox.Height * imgHeight);
                                    newLine.setAttribute('x', boundingBox.Left * imgWidth);
                                    newLine.setAttribute('y', boundingBox.Top * imgHeight);
                                    newLine.setAttribute('stroke', 'yellow');
                                    newLine.setAttribute('stroke-width', '2');
                                    newLine.setAttribute("fill", "transparent");
                                    newLine.setAttribute("author", "nhiennn");
                                    svg.append(newLine);

                                    this.$refs.imageElement.parentNode.appendChild(svg);
                                })

                            }, 100);
                        })
                    }
                })
            }
        }
    }
</script>

<style>
    .border-right {
        border-right: 1px solid #cdcdcd;
    }

    .img-preview {
        width: 150px;
    }

    .img-preview-face-search {
        width: 300px;
    }

    .img-content {
        position: relative;
    }

    .img-content svg {
        position: absolute;
        left: 0;
        top: 0;
    }
    .footer {
        top: 0;
        position: fixed;
        right: 0;
    }
</style>